<div>

    <h3 style="text-align: center; background: aqua; color: blue;">Balance of {{phnNumber}}</h3>
</div>
<!-- <table id="table">
<tr style="background-color: burlywood;">
    <td style="background-color: burlywood;">Mobile Number</td>
    <td style="background-color: burlywood;">Balance</td>
</tr> -->

<div id="message">
   <h3> {{message}} </h3>
  </div>
<!-- <ng-container *ngFor="let acc of account">
    <tr >
        <td>{{acc.phnNumber}}</td>
        <td>{{acc.balance}}</td>
    </tr>
</ng-container>
</table> -->